<nb-card #formCard size="medium" accent="primary">
    <nb-card-header class="text-center" ><h4>Join to chat !</h4></nb-card-header>
    <nb-card-body>
        <form #joinForm="ngForm" class="form-horizontal"  (ngSubmit)='join() ' autocomplete="off">
            <div class="form-group row">
                <div class="col-sm-4">
                    <div class="form-group row">
                        <label class="col-sm-3 label" col-form-label >I am a :</label>
                        <div class="col-sm-6">
                            <nb-radio-group class="" id="gender" name="gender" status="primary" [(ngModel)]="model.gender" required>
                                <nb-radio value="male" >Male</nb-radio>
                                <nb-radio value="female">Female</nb-radio>
                            </nb-radio-group>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 label" col-form-label>Looking for :</label>
                        <div class="col-sm-6">
                            <nb-radio-group name="selectedGender" status="primary" [(ngModel)]="model.selectedGender" required>
                                <nb-radio value="male" >Male</nb-radio>
                                <nb-radio value="female" >Female</nb-radio>
                            </nb-radio-group>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label class="col-sm-3 label" col-form-label>Nick :</label>
                        <input class="col-6 col-sm-3" nbInput shape="semi-round" status="primary" name="nick" [(ngModel)]="model.nick"  placeholder="Nick" max=10 required minlength=4 maxlength=10>
                    </div>
                    <div class="form-group row mt-4">
                        <label class="col-sm-3 label" col-form-label>Avatar :</label>
                        <nb-user size="large" *ngIf="model.nick || model.avatar" [name]='model?.nick' [picture]='model?.avatar' [nbPopover]='imagePicker' nbPopoverAdjustment="noop" nbPopoverPlacement="bottom" required ></nb-user>
                        <nb-user size="large" *ngIf="!model.nick && !model.avatar" [nbPopover]='imagePicker' nbPopoverAdjustment="noop" nbPopoverPlacement="bottom"></nb-user>
                    </div>
                </div>
                <div class="col-sm-2">
                    <button nbButton hero status="primary" shape="round" (click)="filtersMode=!filtersMode"><nb-icon icon="funnel-outline"></nb-icon></button>
                </div>
                
                
            </div>
            <div class="form-group" *ngIf="filtersMode">
                <div class="form-group row">
                    <label class="col-sm-3 label" col-form-label>Location :</label>
                    <div class="col-sm-9">
                        <nb-select  name="location" status="primary" [(ngModel)]="model.location" placeholder="From">
                            <nb-option *ngFor="let location of locations" [value]="location.value">{{location.viewValue}}</nb-option>
                        </nb-select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 label" col-form-label>Enter min age :</label>
                    <div class="col-sm-9 short">
                        <input class="col-sm-3 " nbInput shape="semi-round" status="primary" name="minAge"  [(ngModel)]="model.minAge" disabled>
                    </div>
                    <nb-actions>
                        <nb-action icon="plus-circle-outline" (click)="addAge()"></nb-action>
                        <nb-action icon="minus-circle-outline" (click)="subAge()"></nb-action>
                    </nb-actions>
                </div>
            </div>
            
            <div class="form-group row">
                <div class="offset-sm-6 col-sm-3">
                    <button class="form-group" nbButton shape="round" status="success" type="submit"  [disabled]="!joinForm.valid">Join</button>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>

<ng-template #imagePicker>
    <div class="row popover-card">
            <nb-user *ngFor="let avatar of avatars" (click)="changeAvatar(avatar.url)" class="mt-1" size="medium" [picture]='avatar?.url' onlyPicture  ></nb-user>
    </div>
</ng-template>

