<nb-card #formCard size="medium" accent="primary">
    <nb-card-header class="text-center" ><h4>Join to chat !</h4></nb-card-header>
    <nb-card-body>
        <div fxLayoutAlign="end start">
            <nb-icon icon="funnel-outline" nbButton status="primary" (click)="openFilters()"></nb-icon>
        </div>
        <form #joinForm="ngForm"  autocomplete="off" >
            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.gt-xs="space-around center">
                
                <div fxLayout="column" fxLayoutAlign="space-arund " >
                    <div class="form-group" fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="15px">
                        <label class="label" col-form-label >I am a :</label>
                        <nb-radio-group id="gender" name="gender" status="primary" [(ngModel)]="model.gender" required>
                            <nb-radio value="male" >Male</nb-radio>
                            <nb-radio value="female">Female</nb-radio>
                        </nb-radio-group>
                    </div>
                    <div class="form-group" fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="15px">
                        <label class="label" col-form-label>Looking for :</label>
                            <nb-radio-group name="selectedGender" status="primary" [(ngModel)]="model.selectedGender" required>
                                <nb-radio value="male" >Male</nb-radio>
                                <nb-radio value="female" >Female</nb-radio>
                            </nb-radio-group>
                    </div>
                </div>
                    
                <div fxLayout="column"  fxLayoutAlign="space-between ">
                    <div class="form-group" fxlayout="row" fxLayoutAlign="space-around center" fxLayoutGap.gt-xs="10px">
                        <label class="label" col-form-label>Nick :</label>
                        <input nbInput shape="semi-round"  status="primary" name="nick" [(ngModel)]="model.nick"  placeholder="Nick" max=10 required minlength=4 maxlength=10>
                    </div>
                    <div class="form-group" fxLayout="row" fxLayoutAlign="space-around center" >
                        <label class="label" col-form-label>Avatar :</label>
                        <nb-user size="large" *ngIf="model.nick || model.avatar" [name]='model?.nick' [picture]='model?.avatar' [nbPopover]='imagePicker' nbPopoverAdjustment="noop" nbPopoverPlacement="bottom" required ></nb-user>
                        <nb-user size="large" *ngIf="!model.nick && !model.avatar" [nbPopover]='imagePicker' nbPopoverAdjustment="noop" nbPopoverPlacement="bottom"></nb-user>
                    </div>
                </div>
                
            </div>
            <div class="form-group" fxLayout="column" *ngIf="filtersMode" fxLayoutAlign="space-between ">
                <div class="form-group" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                    <label class="label" col-form-label>Location :</label>
                        <nb-select  name="location" status="primary" [(ngModel)]="model.location" placeholder="From">
                            <nb-option *ngFor="let location of locations" [value]="location.value">{{location.viewValue}}</nb-option>
                        </nb-select>
                </div>
                <div class="form-group" fxLayout="row" fxLayout.xs="column" fxLayoutAlign.gt-xs="start center" fxLayoutGap="10px">
                    <label class="label" col-form-label>Enter min age :</label>
                    <div fxLayout.xs="row" fxLayoutAlign="center center">
                        <input fxFlex="20" nbInput shape="semi-round" status="primary" name="minAge"  [(ngModel)]="model.minAge" disabled>
                         <nb-actions fxFlex ="80">
                            <nb-action icon="plus-circle-outline" (click)="addAge()"></nb-action>
                            <nb-action icon="minus-circle-outline" (click)="subAge()"></nb-action>
                        </nb-actions>
                    </div>
                </div>
            </div>
            
            <div class="form-group" fxLayout="column" fxLayoutAlign="center center">
                <button  nbButton shape="round" status="success" type="submit" (click)="join()"  [disabled]="!joinForm.valid">Join</button>
            </div>
        </form>
        
    </nb-card-body>
</nb-card>

<ng-template #imagePicker>
    <div class="row popover-card">
            <nb-user *ngFor="let avatar of avatars" (click)="changeAvatar(avatar.url)" class="mt-1" size="medium" [picture]='avatar?.url' onlyPicture  ></nb-user>
    </div>
</ng-template>

