<form #joinForm="ngForm" class="form-horizontal"  (ngSubmit)='join() ' autocomplete="off">
    <h2 class="text-center text-primary">Join to chat !</h2>
    <hr/>
    <div class="form-group">

        <mat-label class="control-label" style="margin-right: 10px;">I am a :</mat-label>
        <mat-radio-group id="gender" name="gender" [(ngModel)]="model.gender" required>
            <mat-radio-button value="male" >Male</mat-radio-button>
            <mat-radio-button value="female" class="ml-2">Female</mat-radio-button>
        </mat-radio-group>
        <hr/>
        <mat-label class="control-label" style="margin-right: 10px;">Looking for :</mat-label>
        <mat-radio-group name="selectedGender" [(ngModel)]="model.selectedGender">
            <mat-radio-button value="male" >Male</mat-radio-button>
            <mat-radio-button value="female" class="ml-2">Female</mat-radio-button>
        </mat-radio-group>
        <hr/>
        <mat-form-field>
            <mat-label class="control-label" style="margin-right: 10px;">From : </mat-label>
                <mat-select name="location" [(ngModel)]="model.location" placeholder="">
                    <mat-option *ngFor="let location of locations" [value]="location.value">
                        {{location.viewValue}}
                    </mat-option>
                </mat-select>
        </mat-form-field>
        
        <hr/>
        <label class="control-label" style="margin-right: 10px;">Enter min age :</label>
        <label>
            <input type="text" name="minAge" [(ngModel)]="model.minAge" placeholder="Min age">
        </label>
        <hr/>
        
    </div>
    <div class="form-group text-center">
        <button class="btn btn-success" type="submit" [disabled]="!joinForm.valid">
            Join
        </button>
    </div>
</form>