<div fxLayout="column" fxLayoutAlign="space-between stretch">
        <label class="label" col-form-label>Avatar :</label>
        <nb-user [name]='user?.nick' [picture]='user?.avatar' size="large" [nbPopover]='imagePicker' nbPopoverAdjustment="noop" nbPopoverPlacement="bottom"></nb-user>
</div>
<ng-template #imagePicker>
    <div class="row popover-card">
            <nb-user *ngFor="let avatar of avatars" (click)="changeAvatar(avatar.url)" class="mt-1" size="medium" [picture]='avatar?.url' onlyPicture  ></nb-user>
    </div>
</ng-template>