<div class="offset-md-3 mt-2">
    <nb-user [name]='user?.nick' [picture]='user?.avatar' size="large"></nb-user>
</div>
<div class="mt-2">
    <label class="label" col-form-label>Avatar :</label>
    <div class="row col-11 offset-md-1">
        <button class="mr-2 mt-1" nbButton outline shape="round" status="info" size="tiny"
          *ngFor="let avatar of avatars" (click)="changeAvatar(avatar.url)">
            <nb-user class="offset-md-3 " size="medium" [picture]='avatar?.url' onlyPicture ></nb-user>
        </button>
    </div>
</div>
