<div fxLayout="column" fxLayoutAlign="space-arround center">
    <nb-user [name]='user?.nick' [picture]='user?.avatar' size="large"></nb-user>
    <div fxLayour="column">
        <label class="label" col-form-label>Avatar :</label>
        <div fxLayout="row">
            <button  nbButton outline shape="round" status="info" size="tiny"
            *ngFor="let avatar of avatars" (click)="changeAvatar(avatar?.url)">
                <nb-user size="medium" [picture]='avatar?.url' onlyPicture ></nb-user>
            </button>
        </div>
    </div>
</div>
