<nb-chat  title="Chat with random person" status="primary" size="medium">
    <nb-chat-message *ngFor="let msg of onlineUserService.messages"
        [type]="msg.type"
        [message]="msg.message"
        [reply]="msg.reply"
        [avatar]="mate?.avatar">
    </nb-chat-message>  
    <nb-chat-form (send)="sendMessage($event)" *ngIf='!(onlineUserService.mateDisconnected$ | async) || !(onlineUserService.iDisconnected$ |async)'></nb-chat-form >
</nb-chat>
<div class="mt-2" fxLayout="column" fxLayoutAlign="start center"
*ngIf='(onlineUserService.mateDisconnected$ | async) || (onlineUserService.iDisconnected$ |async)'  >
    <nb-alert class="text-center" status="danger"
    *ngIf='(onlineUserService.mateDisconnected$ |async) && !(onlineUserService.iDisconnected$ | async)'>
        Mate disconnected ! Do you want to chat with new one ?
    </nb-alert> 
    <nb-alert  class="text-center" status="warning" 
    *ngIf='!(onlineUserService.mateDisconnected$ |async) && (onlineUserService.iDisconnected$ | async)'>
        Chat ended ! Do you want to chat with new one ?
    </nb-alert>
     <div fxLayout="row" fxFill="100" fxLayoutAlign="space-around">
        <button nbButton status="success" nbButton outline  size="medium" shape="round" type="submit" (click)="joinToQueue()">Yes</button>
        <button nbButton status="danger" nbButton outline size="medium" shape="round" (click)="userService.leave()" routerLink='/' routerLinkActive='active'>No</button>
    </div>
</div>
