<nb-card fxLayout="column" *ngIf='usersLoaded | async'>
    <nb-card-header [nbSpinner]='(onlineUserService.fittingMate$ | async )' nbSpinnerStatus="danger" nbSpinnerSize="medium" nbSpinnerMessage="I'm looking for available people ...">
        <nb-actions fxLayout="row" fxLayoutAlign="end stretch" size="small" *ngIf='!(onlineUserService.fittingMate$ | async )'>
            <nb-action icon="close-square-outline" type="nbButton" status="danger"  (click)="openDialog()" nbPopover="Click to end conversation" nbPopoverTrigger="hint" nbPopoverPlacement="top"></nb-action>
        </nb-actions>
    </nb-card-header>
    <nb-card-body >
        <app-chat-card [mate]="fittedMate" *ngIf='!(onlineUserService.fittingMate$ | async )'></app-chat-card>
    </nb-card-body>
</nb-card>

