<nb-card class="col-md-10 offset-md-1" *ngIf='usersLoaded | async'>
    <nb-card-header [nbSpinner]='onlineUserService.fittingMate$ | async ' nbSpinnerStatus="danger" nbSpinnerSize="large" nbSpinnerMessage="I'm looking for available people ...">
        <nb-actions class="col-2 offset-md-10" size="medium" *ngIf='!(onlineUserService.fittingMate$ | async )'>
            <nb-action icon="close-square-outline" type="nbButton"  (click)="openDialog()" nbPopover="Click to end conversation" nbPopoverTrigger="hint" nbPopoverPlacement="top"></nb-action>
        </nb-actions>
    </nb-card-header>
    <nb-card-body >
        <app-chat-card [mate]="fittedMate" *ngIf='!(onlineUserService.fittingMate$ | async )'></app-chat-card>
    </nb-card-body>
</nb-card>

