<form #nickForm="ngForm"  fxLayout="column" fxLayoutAlign="center center" fxFill="100" (ngSubmit)="changeNick()"  autocomplete="off">
    <div class="form-group" fxLayout="column" >
        <label class="label" col-form-label>Nick :</label>
        <input nbInput shape="semi-round" status="primary" name="nick" [(ngModel)]='user.nick'  [placeholder]='user?.nick' required minlength=4>
    </div>
    <div class="form-group" fxLayout="column" fxLayoutAlign="center center">
        <button class="form-group" nbButton outline shape="round" status="success" type="submit" size="small" [disabled]="!nickForm.valid" >Save</button>
    </div>
</form>
