<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary ">
    <div class="container mr-auto">
      <button class="btn btn-primary" (click)="backToHomePage()"><a class="navbar-brand" routerLink='/' routerLinkActive='active'>Who's There</a></button>
      <div class="container counter dropdown mt-2"  *ngIf='userService.curentUser$ | async'>
        <mat-icon matBadge="{{(onlineUserService.onlineUsers$| async)?.length}}" matBadgeColor="warn">people</mat-icon>
      </div>
    </div>
</nav>
  