<form #form="ngForm" (ngSubmit)='save()'>
    <nb-tabset class="form-goup">
        <nb-tab tabTitle="Selected gender">
            <nb-radio-group class="form-group center" name="selectedGender" [(ngModel)]="user.selectedGender" >
                <nb-radio value="male">Male</nb-radio>
                <nb-radio value="female">Female</nb-radio>
            </nb-radio-group>
        </nb-tab>
        <nb-tab tabTitle="Location">
            <nb-select class="form-group center" name="location"  [(ngModel)]="user.location">
                <nb-option *ngFor="let location of locations" placeholder="location" value="location.value">{{location.viewValue}}</nb-option>
            </nb-select>
        </nb-tab>
        <nb-tab tabTitle="From age ">
            <div class="form-group row center">
                <input nbInput disabled  shape="semi-round" status="primary" name="minAge" style="max-width: 5rem;" 
                [(ngModel)]="user.minAge"
                >
                <nb-actions>
                    <nb-action icon="plus-circle-outline" (click)="addAge()"></nb-action>
                    <nb-action icon="minus-circle-outline" (click)="subAge()"></nb-action>
                </nb-actions>
            </div>
        </nb-tab>
    </nb-tabset>
    <div class="form-group row center">
        <button nbButton hero shape="semi-round" size="small" status="success" type="submit">Save</button>
        <button nbButton hero shape="semi-round" size="small" status="danger" type="submit">Cancel</button>
    </div>
</form>